__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ipynb_checkpoints/
*.ipynb
*.log
*.csv
*.pkl
*.pt
*.pth
.data/
data/
!src/sdp/data/
!src/sdp/data/*.py
results/
outputs/
/kaggle/working/
.env
.DS_Store
